<div class="row">
	<div class="well">
		<table class="table table-condensed">
			<tr>
				<td class="bg-success">
					<strong>Total Invoice Value: </strong>
				</td>
				<td class="bg-primary">
					<span><%= invDetails.I2GRI35 %></span>
				</td>
				<td class="bg-success">
					<strong>Currency Factor: </strong>
				</td>
				<td class="bg-primary">
					<span><%= invDetails.I2CRF34 %></span>
				</td>
				<td class="bg-success">
					<strong>Gross Weight (if prorated): </strong>
				</td>
				<td class="bg-primary">
					<span><%= invDetails.I2IGRWGT %></span>
				</td>
			</tr>
			<tr>
				<td class="bg-success">
					<strong>Country Code: </strong>
				</td>
				<td class="bg-primary">
					<span><%= invDetails.I2ISOE %></span>
				</td>
				<td class="bg-success">
					<strong>Charges (if pro-rated): </strong>
				</td>
				<td class="bg-primary">
					<span><%= invDetails.I2CNI40 %></span>
				</td>
				<td class="bg-success">
					<strong>REP (K/L): </strong>
				</td>
				<td class="bg-primary">
					<span><%= invDetails.I2GRWR %></span>
				</td>
			</tr>
			<tr>
				<td class="bg-success">
					<strong>Dutiable Charges: </strong>
				</td>
				<td class="bg-primary">
					<span><%= invDetails.I2DC37 %></span>
				</td>
				<td class="bg-success">
					<strong>Related: </strong>
				</td>
				<td class="bg-primary">
					<span><%= invDetails.I2REL01 %></span>
				</td>
				<td class="bg-success">
					<strong>Invoice Piece Count: </strong>
				</td>
				<td class="bg-primary">
					<span><%= invDetails.I2BLQIH %></span>
				</td>
			</tr>
			<tr>
				<td class="bg-success">
					<strong>Non-Dutiable Charges: </strong>
				</td>
				<td class="bg-primary">
					<span><%= invDetails.I2NDC37 %></span>
				</td>
				<td class="bg-success">
					<strong>Commercial Invoice: </strong>
				</td>
				<td class="bg-primary">
					<span><%= invDetails.I2COMINV %></span>
				</td>
				<td class="bg-success">
					<strong>Unit: </strong>
				</td>
				<td class="bg-primary">
					<span><%= invDetails.I2BLUIH %></span>
				</td>
			</tr>
		</table>
	</div>
</div>