<div class="row">
	<div class="col-md-8">
		<ul class="list-group">
			<li class="list-group-item">
				<h5 class="list-group-item-heading bg-success"><strong>Total Invoice Value:</strong></h5>
				<p class="list-group-item-text bg-primary"><%= invDetails.I2GRI35 %></p>
			</li>
			<li class="list-group-item">
				<h5 class="list-group-item-heading bg-success"><strong>Currency Factor</strong></h5>
				<p class="list-group-item-text bg-primary"><%= invDetails.I2CRF34 %></p>
			</li>
			<li class="list-group-item">
				<h5 class="list-group-item-heading bg-success"><strong>Gross Weight (if prorated):</strong></h5>
				<p class="list-group-item-text bg-primary"><%= invDetails.I2IGRWGT %></p>
			</li>
			<li class="list-group-item">
				<h5 class="list-group-item-heading bg-success"><strong>Country Code: </strong></h5>
				<p class="list-group-item-text bg-primary"><%= invDetails.I2ISOE %></p>
			</li>
			<li class="list-group-item">
				<h5 class="list-group-item-heading bg-success"><strong>Charges (if pro-rated): </strong></h5>
				<p class="list-group-item-text bg-primary"><%= invDetails.I2CNI40 %></p>
			</li>
			<li class="list-group-item">
				<h5 class="list-group-item-heading bg-success"><strong>REP (K/L): </strong></h5>
				<p class="list-group-item-text bg-primary"><%= invDetails.I2GRWR %></p>
			</li>
			<li class="list-group-item">
				<h5 class="list-group-item-heading bg-success"><strong>Dutiable Charges: </strong></h5>
				<p class="list-group-item-text bg-primary"><%= invDetails.I2DC37 %></p>
			</li>
			<li class="list-group-item">
				<h5 class="list-group-item-heading bg-success"><strong>Related: </strong></h5>
				<p class="list-group-item-text bg-primary"><%= invDetails.I2REL01 %></p>
			</li>
			<li class="list-group-item">
				<h5 class="list-group-item-heading bg-success"><strong>Invoice Piece Count: </strong></h5>
				<p class="list-group-item-text bg-primary"><%= invDetails.I2BLQIH %></p>
			</li>
			<li class="list-group-item">
				<h5 class="list-group-item-heading bg-success"><strong>Non-Dutiable Charges: </strong></h5>
				<p class="list-group-item-text bg-primary"><%= invDetails.I2NDC37 %></p>
			</li>
			<li class="list-group-item">
				<h5 class="list-group-item-heading bg-success"><strong>Commercial Invoice: </strong></h5>
				<p class="list-group-item-text bg-primary"><%= invDetails.I2COMINV %></p>
			</li>
			<li class="list-group-item">
				<h5 class="list-group-item-heading bg-success"><strong>Unit: </strong></h5>
				<p class="list-group-item-text bg-primary"><%= invDetails.I2BLUIH %></p>
			</li>
		</ul>
	</div>		
</div>