<div class="row">
	<div class="well">
		<table class="table table-condensed">
			<thead class="bg-primary">
				<th>######</th>
				<th><strong>USTS:</strong></th>
				<th><strong>SPI HTS:</strong></th>
				<th><strong>SPI2 HTS:</strong></th>
				<th><strong>SPI Country:</strong></th>
				<th><strong>Column HTS:</strong></th>
				<th><strong>Value HTS:</strong></th>
				<th><strong>Quantity 1 HTS:</strong></th>
				<th><strong>Quantity 2 HTS:</strong></th>
				<th><strong>Quantity 3 HTS:</strong></th>
				<th><strong>OA HTS:</strong></th>
			</thead>
			<tr>
				<td class="bg-success">
					<strong>HTS 1</strong>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3TSU41 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3SPIP1 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3SPIS1 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3SPIC1 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3RATE %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3TSV42 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3QTY44 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3QTY45 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3QTY46 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3OA1 %></span>
				</td>
			</tr>
			<tr>
				<td class="bg-success">
					<strong>HTS 2</strong>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.HTS2 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3SPIP2 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3SPIS2 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3SPIC2 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3RATE2 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3TSVA2 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3QTY54 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3QTY55 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3QTY56 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3OA2 %></span>
				</td>
			</tr>
			<tr>
				<td class="bg-success">
					<strong>HTS 3</strong>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.HTS3 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3SPIP3 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3SPIS3 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3SPIC3 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3RATE3 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3TSVA3 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3QTY64 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3QTY65 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3QTY66 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3OA3 %></span>
				</td>
			</tr>
			<thead class="bg-primary">
				<th colspan="11" class="text-center"><strong> Line Info </strong></th>
			</thead>
			<tr>
				<td class="bg-primary">
					<strong>Yield: </strong>
				</td>
				<td class="bg-primary">
					<strong>Fee Exempt: </strong>
				</td>
				<td class="bg-primary">
					<strong>Visa Number: </strong>
				</td>
				<td class="bg-primary">
					<strong>CVD Case #: </strong>
				</td>
				<td class="bg-primary">
					<strong>CVD Rate: </strong>
				</td>
				<td class="bg-primary">
					<strong>ADD Case #: </strong>
				</td>
				<td class="bg-primary">
					<strong>ADD Rate: </strong>
				</td>
				<td class="bg-primary">
					<strong>Line Weight: </strong>
				</td>
				<td class="bg-primary">
					<strong>Non-Duty Chg: </strong>
				</td>
				<td class="bg-primary">
					<strong>Dutiable Charges: </strong>
				</td>
			</tr>
			<tr>
				<td class="bg-success">
					<span><%= tarDetails.I3YIELD %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3FEEEXP %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.VISANUM %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.CVDCASE %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3CVDRAT %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.ADDCASE %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3ADDRAT %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3LINWGT %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3CHGNDC %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3CHGDC %></span>
				</td>
			</tr>
			<tr>
				<td class="bg-primary">
					<strong>C/O Line: </strong>
				</td>
				<td class="bg-primary">
					<strong>C/O Header: </strong>
				</td>
				<td class="bg-primary">
					<strong>C/E: </strong>
				</td>
				<td class="bg-primary">
					<strong>C/E Header: </strong>
				</td>
				<td class="bg-primary">
					<strong>Charge: </strong>
				</td>
				<td class="bg-primary">
					<strong>MFG/Seller: </strong>
				</td>
				<td class="bg-primary">
					<strong>MFG/Seller (Y/S): </strong>
				</td>
				<td class="bg-primary">
					<strong>FGNEXP/Seller: </strong>
				</td>
				<td class="bg-primary">
					<strong>FGNEXP/Seller (Y/S): </strong>
				</td>
			</tr>
			<tr>
				<td class="bg-success">
					<span><%= tarDetails.I3CO %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I0OISO %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3COE %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I0EISO %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3CHG48 %></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.MFG %></span>
				</td>
				<td class="bg-success">
					<span></span>
				</td>
				<td class="bg-success">
					<span><%= tarDetails.I3MIDF %></span>
				</td>
				<td class="bg-success">
					<span></span>
				</td>
			</tr>
		</table>
	</div>
</div>