<% var count = 0; %>
<div class="row">
	<div class="well">
		<div class="row header-padding">
			<div class="col-md-1">#</div>
			<div class="col-md-1">Level</div>
			<div class="col-md-7">Message</div>
			<div class="col-md-3">Timestamp</div>
		</div>
		<div class="table-data">
			<% for(entry in logs) { count++; %>
			<% if(logs[entry].level == "info") { %>
				<div class="bg-info row table-padding">
			<% } else if(logs[entry].level == "error") { %>
				<div class="bg-danger row table-padding">
			<% } else if(logs[entry].level == "debug") { %>
				<div class="bg-warning row table-padding">
			<% } else { %>
				<div class="row table-padding">
			<% } %>
				<div class="col-md-1"><%- count %></div>
				<div class="col-md-1"><%- logs[entry].level %></div>
				<% if (logs[entry].message.length > 100) { %>
					<div class="col-md-7 text-nowrap" title="Full Message" data-toggle="popover" data-placement="top" data-content='<%- logs[entry].message %>'>Click to see full message</div>
				<% } else { %>
					<div class="col-md-7 text-nowrap" title="Full Message"><%- logs[entry].message %></div>
				<% } %>
				<div class="col-md-3"><%- logs[entry].timestamp %></div>
			</div>
		<% } %>
		</div>
	</div>
</div>